* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(53, 53, 53);
}

.render {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  margin: 1rem;
  letter-spacing: 1px;
}

.render:hover {
  color: #fff;
}

.action {
  border: 2px solid #fff;
  color: #fff;
  padding: 2rem;
  margin-right: 4rem;
}

.page {
  color: #fff;
  letter-spacing: 3px;
  font-size: 2.5rem;
}

.data {
  color: #fff;
  font-size: 1.5rem;
}